@use "../abstracts" as *;

body {
  font-family: $font-primary;
  font-weight: $fw-regular;
  font-size: $fs-400;
  line-height: $lh-6;
  color: $clr-text;
  background-color: $clr-background;
}

h1,
h2,
h3,
h4 {
  font-family: $font-secondary;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: $clr-heading;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
  outline: rem(2px) dashed $clr-element-focus-outline;
  outline-offset: rem(2px);
}

a {
  font-weight: $fw-bold;
  color: $clr-link;
  text-decoration: none;
  @include on-event {
    color: $clr-link-hover;
  }
}

hr {
  color: $clr-horizontal-line;
  opacity: 0.25;
}
