@use "../abstracts" as *;

/* Typography Utillity classes */

.display,
.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: $font-secondary;
  font-weight: $fw-regular;
  color: $clr-heading;
}

.display {
  font-size: $fs-700;
  line-height: $lh-7;
  @include bp-up("medium") {
    font-size: $fs-800;
    line-height: $lh-2;
  }
  @include bp-up("large") {
    font-size: $fs-1000;
    line-height: $lh-1;
  }
}

.heading-1 {
  font-size: $fs-700;
  line-height: $lh-7;
  @include bp-up("medium") {
    font-size: $fs-800;
    line-height: $lh-2;
  }
  @include bp-up("large") {
    font-size: $fs-900;
    line-height: $lh-1;
  }
}

.heading-2 {
  font-size: $fs-750;
  line-height: $lh-1;
  @include bp-up("medium") {
    font-size: $fs-800;
    line-height: $lh-2;
  }

  .text-container & {
    margin-bottom: 0.5em; // 24px margin
  }
}

.heading-3 {
  font-size: $fs-600;
  line-height: $lh-4;
  @include bp-up("large") {
    font-size: $fs-700;
    line-height: $lh-3;
  }

  .text-container & {
    margin-bottom: 0.5em; // 24px margin
  }
}

.heading-4 {
  font-size: $fs-600;
  line-height: $lh-4;
}
