@use "../abstracts/" as *;

.container {
  --side-space: #{rem(24px)};
  --max-width: #{rem(1110px)};
  display: grid;
  grid-template-columns:
    1fr min(var(--max-width), calc(100% - (var(--side-space) * 2)))
    1fr;
  column-gap: var(--side-space);
  align-content: start;

  @include bp-up("medium") {
    --side-space: #{rem(39px)};
  }
}

.container > * {
  grid-column: 2;
}
