@use "../abstracts" as *;

button,
.btn {
  display: inline-block;
  border: none;
  color: inherit;
  background-color: transparent;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.btn {
  padding: em(15, 15) em(24, 15);
  border: 1px solid $clr-button-border;
  border-radius: 50px;
  background-color: $clr-button-bg;
  color: $clr-button-text;
  font-size: $fs-400;
  font-weight: $fw-bold;

  @include on-event {
    background-color: $clr-button-bg-hover;
    color: $clr-button-text-hover;
  }
}

.btn--primary {
  border-color: $clr-button-primary-border;
  background-color: $clr-button-primary-bg;
  color: $clr-button-primary-text;

  @include on-event {
    border-color: $clr-button-primary-border-hover;
    background-color: $clr-button-primary-bg-hover;
  }
}

.btn--light {
  border-color: $clr-button-light-border;
  color: $clr-button-light-text;

  @include on-event {
    background-color: $clr-button-light-bg-hover;
    color: $clr-button-light-text-hover;
  }
}
