@use "../abstracts/" as *;

.partner-logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  justify-content: center;
  column-gap: rem(40px);
  row-gap: rem(39px);

  @include bp-up(em(500px)) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(62px);
    row-gap: rem(39px);
  }

  @include bp-up("medium") {
    grid-template-columns: repeat(3, rem(140px));
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}
