@use "sass:map";
@use "./variables" as *;

/* --------------- Basic Helpers --------------- */
@mixin bp-up($bp) {
  @if map.has-key($breakpoints, $bp) {
    @media screen and (min-width: map.get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin bp-down($bp) {
  @if map.has-key($breakpoints, $bp) {
    @media screen and (max-width: map.get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $bp) {
      @content;
    }
  }
}

@mixin on-event {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

/* --------------- Commonly used --------------- */
@mixin page-grid {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

@mixin flex {
  display: flex;
  align-items: center;
}
