@use "./functions" as *;

/* ------------- Breakpoints ------------- */
$breakpoints: (
  "medium": 48em,
  // 768px
  "large": 69.375em // 1110px,,
);

/* ------------- Typography ------------- */
$font-primary: "Public Sans", sans-serif;
$font-secondary: "DM Serif Display", serif;

$font-size-1000: rem(72);
$font-size-900: rem(56);
$font-size-800: rem(48);
$font-size-700: rem(32);
$font-size-600: rem(24);
$font-size-500: rem(18);
$font-size-400: rem(15);

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-6: 1.87;
$line-height-5: 1.39;
$line-height-4: 1.33;
$line-height-3: 1.25;
$line-height-2: 1.17;
$line-height-1: 1;

/* ------------- Colors ------------- */
$white: #ffffff;
$red: #ff0000;
$pink-500: #ba4270;
$pink-300: #da6d97;
$blue-gray-050: #fbfcfe;
$blue-gray-100: #edf3f8;
$blue-gray-400: #6c8294;
$blue-gray-600: #36536b;
$blue-gray-800: #1b262f;

$clr-text: $blue-gray-400;
$clr-text-light: $blue-gray-050;
$clr-heading: $blue-gray-600;
$clr-heading-light: $blue-gray-050;
$clr-heading-primary: $pink-500;
$clr-background: $blue-gray-100;
$clr-background-dark: $blue-gray-800;
$clr-error: $red;
$clr-link: $blue-gray-400;
$clr-link-hover: $blue-gray-600;
$clr-button-border: $blue-gray-400;
$clr-button-bg: transparent;
$clr-button-text: $blue-gray-400;
$clr-button-text-hover: $blue-gray-050;
$clr-button-bg-hover: $blue-gray-400;
$clr-button-primary-border: $pink-500;
$clr-button-primary-bg: $pink-500;
$clr-button-primary-text: $blue-gray-050;
$clr-button-primary-border-hover: $pink-300;
$clr-button-primary-bg-hover: $pink-300;
$clr-button-light-border: $blue-gray-050;
$clr-button-light-bg: transparent;
$clr-button-light-text: $blue-gray-050;
$clr-button-light-bg-hover: $blue-gray-050;
$clr-button-light-text-hover: $blue-gray-800;
$clr-cta-form-input-bg: $blue-gray-050;
$clr-cta-form-input-text: $blue-gray-400;
$clr-cta-form-input-outline-active: $blue-gray-400;