@use "sass:map";
@use "../abstracts/" as *;

.home {
  background-image: url("/assets/shared/desktop/bg-pattern-circle.svg");
  background-position: center top -550px;
  background-repeat: no-repeat;

  .main {
    overflow-x: hidden;
  }

  @include bp-up("medium") {
    background-size: 949px 949px;
    background-position: center top -663px;
  }

  @include bp-up("large") {
    background-size: 780px 780px;
    background-position: calc(50% + 471px) -172px;
  }

  .hero {
    padding-top: rem(32px);
    padding-bottom: rem(80px);
    justify-items: center;
    row-gap: rem(24px);

    @include bp-up("medium") {
      padding-top: rem(48px);
      row-gap: rem(48px);
    }
    @include bp-up("large") {
      padding-block: rem(75px);
      --columns: 2;
      align-items: center;
    }

    &__graphic-wrapper {
      width: min(35%, 159px);
      height: auto;
      aspect-ratio: 263/500;

      @include bp-up("large") {
        width: rem(263px);
        margin-right: rem(128px);
        justify-self: end;
        order: 1;
      }
    }

    &__graphic {
      width: 100%;
      height: auto;
      transform: scale(1.6) translate(6%, 10.25%);
    }

    &__content {
      --flow-space: #{rem(24px)};
      text-align: center;

      @include bp-up("medium") {
        --flow-space: #{rem(32px)};
      }
      @include bp-up("large") {
        text-align: start;
      }
    }

    &__heading {
      display: inline-block;
      max-width: 35ch;
      @include bp-up("medium") {
        max-width: 22ch;
      }
    }

    &__contact {
      margin-top: rem(16px);
      @include bp-up("large") {
        margin-left: rem(27px);
      }
    }
  }

  .partners {
    background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center top -602px;
    background-repeat: no-repeat;
    background-color: $clr-background-dark;
    color: $clr-text-light;
    text-align: center;

    @include bp-up("medium") {
      background-position: center top -548px;
    }

    @include bp-up("large") {
      background-position: calc(50% - 565px) -360px;
      text-align: start;
    }

    .container {
      padding-block: rem(80px);
      @include bp-up("medium") {
        padding-block: rem(88px);
      }
      @include bp-up("medium") {
        padding-block: rem(100px);
      }
    }

    &__inner-container {
      row-gap: rem(56px);

      @include bp-up("large") {
        --columns: 2;
        align-items: center;
      }
    }

    &__logos {
      --columns: 2;
      place-items: center;
      column-gap: rem(40px);
      row-gap: rem(40px);

      @include bp-up(em(489px)) {
        grid-template-columns: repeat(3, rem(120px));
        justify-content: center;
      }

      @include bp-up("large") {
        order: 1;
      }
    }

    &__logo {
      width: min(100%, rem(120px));
      height: auto;
    }

    .text-container {
      --text-length: #{$text-length-md};
      margin-inline: auto;

      @include bp-up("large") {
        margin-inline: 0;
      }
    }

    &__heading {
      color: $clr-heading-light;
    }

    &__about-link {
      margin-top: rem(60px);

      @include bp-up("medium") {
        margin-top: rem(32px);
      }
    }
  }

  .features {
    --flow-space: #{rem(80px)};
    padding-top: rem(80px);

    @include bp-up("medium") {
      --flow-space: #{rem(100px)};
      padding-top: rem(100px);
    }

    &__feature {
      row-gap: rem(48px);
      justify-items: center;
      margin-bottom: rem(80px);
      text-align: center;

      @include bp-up("medium") {
        margin-bottom: rem(100px);
      }

      @include bp-up("large") {
        --columns: 2;
        align-items: center;
        justify-items: start;
        margin-bottom: rem(150px);
        text-align: start;
      }
    }

    .text-container {
      --text-length: #{$text-length-md};
    }

    &__feature.feature-1 {
      .features__image-wrapper {
        width: min(100%, rem(392px));
        aspect-ratio: 445/284;
        @include bp-up("large") {
          width: rem(445px);
        }
      }
      .features__image {
        transform: scale(1.355) translate(4.14%, 5.6%);
      }
    }

    &__feature.feature-2 {
      .features__image-wrapper {
        width: min(100%, rem(363px));
        aspect-ratio: 566/500;
        @include bp-up("large") {
          width: rem(566px);
        }
      }
      .features__image {
        transform: scale(1.28) translate(3.5%, 3.8%);
      }
    }

    &__feature:nth-of-type(even) {
      .features__image-wrapper {
        @include bp-up("large") {
          order: 1;
        }
      }
    }
  }

  .services {
    padding-bottom: rem(80px);

    @include bp-up("medium") {
      padding-bottom: rem(100px);
    }

    &__list {
      --column-gap: #{rem(10px)};
      row-gap: rem(48px);
    }

    &__service {
      --flow-space: #{rem(32px)};
      text-align: center;
    }

    &__icon {
      display: inline-block;
      /* TODO: create bp-between function */
      @media screen and (min-width: map.get($breakpoints, "medium")) and (max-width: calc(map.get($breakpoints, "large") - 1px)) {
        width: rem(88px);
        height: auto;
      }
    }

    &__title {
      $font-size: $fs-500;
      font-weight: $fw-bold;
      color: $clr-heading;
    }

    &__text {
      display: inline-block;
      max-width: $text-length-lg;
      margin-top: rem(16px);
    }
  }

  .cta {
    padding-bottom: rem(80px);

    @include bp-up("medium") {
      padding-bottom: rem(100px);
    }
  }
}
