@use "sass:map";
@use "../abstracts/" as *;

.home {
  background-image: url("/assets/shared/desktop/bg-pattern-circle.svg");
  background-position: center top -550px;
  background-repeat: no-repeat;

  @include bp-up("medium") {
    background-size: 949px 949px;
    background-position: center top -663px;
  }

  @include bp-up("large") {
    background-size: 780px 780px;
    background-position: calc(50% + 471px) -172px;
  }

  .hero {
    padding-top: rem(32px);
    padding-bottom: rem(80px);
    row-gap: rem(24px);

    @include bp-up("medium") {
      padding-top: rem(48px);
      row-gap: rem(48px);
    }
    @include bp-up("large") {
      padding-block: rem(75px);
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__right {
      @include bp-up("large") {
        order: 1;
      }
    }
    &__mockup {
      width: min(35%, 159px);
      height: auto;
      margin-inline: auto;
      filter: drop-shadow($shadow-svg-graphic);

      @include bp-up("large") {
        width: rem(263px);
        margin-left: auto;
        margin-right: rem(128px);
      }
    }
    &__left {
      --flow-space: #{rem(24px)};
      height: fit-content;
      text-align: center;

      @include bp-up("medium") {
        --flow-space: #{rem(32px)};
      }
      @include bp-up("large") {
        text-align: start;
      }
    }
    &__heading {
      display: inline-block;
      max-width: 35ch;
      @include bp-up("medium") {
        max-width: 22ch;
      }
    }
    &__contact-us {
      margin-top: rem(16px);

      @include bp-up("large") {
        margin-left: rem(27px);
      }
    }
  }

  .partners {
    background-image: url(/assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center top -602px;
    background-repeat: no-repeat;
    background-color: $clr-background-dark;
    color: $clr-text-light;
    text-align: center;

    @include bp-up("medium") {
      background-position: center top -548px;
    }

    @include bp-up("large") {
      background-position: calc(50% - 565px) -360px;
      text-align: start;
    }

    .container {
      padding-block: rem(80px);
      @include bp-up("medium") {
        padding-block: rem(88px);
      }
      @include bp-up("medium") {
        padding-block: rem(100px);
      }
    }

    &__inner-container {
      row-gap: rem(56px);

      @include bp-up("large") {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
      }
    }

    &__right {
      @include bp-up("large") {
        order: 1;
      }
    }

    &__logos-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      column-gap: rem(40px);
      row-gap: rem(40px);

      @include bp-up(em(489px)) {
        grid-template-columns: repeat(3, rem(120px));
        justify-content: center;
      }
    }

    &__logo {
      width: min(100%, rem(120px));
      height: auto;
    }

    .text-container {
      --text-length: #{$text-length-md};
      margin-inline: auto;

      @include bp-up("large") {
        margin: 0;
      }
    }

    &__heading {
      color: $clr-heading-light;
    }

    &__about-link {
      margin-top: rem(60px);

      @include bp-up("medium") {
        margin-top: rem(32px);
      }
    }
  }

  .features {
    --flow-space: #{rem(80px)};
    padding-block: rem(80px);

    @include bp-up("medium") {
      --flow-space: #{rem(100px)};
      padding-block: rem(100px);
    }

    &__showcase {
      row-gap: rem(48px);
      margin-bottom: rem(80px);
      text-align: center;

      @include bp-up("large") {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-bottom: rem(150px);
        text-align: start;
      }
    }

    &__showcase-image,
    .text-container {
      margin-inline: auto;
    }

    &__showcase-image {
      filter: drop-shadow($shadow-svg-graphic);
    }

    .text-container {
      --text-length: #{$text-length-md};
    }

    &__showcase:first-of-type {
      .features__showcase-image {
        width: min(100%, rem(410px));
        @include bp-up("large") {
          width: rem(445px);
        }
      }
    }

    &__showcase:nth-of-type(2) {
      .features__showcase-image {
        width: min(100%, rem(363px));
        @include bp-up("large") {
          width: rem(566px);
          order: 1;
        }
      }
    }

    &__feature-list {
      row-gap: rem(48px);

      @include bp-up("medium") {
        grid-template-columns: repeat(3, 1fr);
        column-gap: rem(10px);
      }
    }

    &__feature {
      --flow-space: #{rem(32px)};
      text-align: center;
    }

    &__feature-icon {
      margin-inline: auto;
      /* TODO: create bp-between function */
      @media screen and (min-width: map.get($breakpoints, "medium")) and (max-width: calc(map.get($breakpoints, "large") - 1px)) {
        width: rem(88px);
        height: auto;
      }
    }

    &__feature-title {
      $font-size: $fs-500;
      font-weight: $fw-bold;
      color: $clr-heading;
    }

    &__feature-text {
      margin-top: rem(16px);
    }
  }

  .cta {
    padding-bottom: rem(80px);

    @include bp-up("medium") {
      padding-bottom: rem(100px);
    }
  }
}
